@font-face {
  font-family: 'Volkhov';
  font-style: italic;
  font-weight: 400;
  src: local('Volkhov Italic'), local('Volkhov-Italic'), url(http://themes.googleusercontent.com/static/fonts/volkhov/v5/Y_Jmwi-iHxNj27PG4ILsdaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
